Query sequence: 1_EulA6s9cr4LGsI7Es34T_142
Database sequence: 5_IRAk4NIp1SdLPnC3iIrm_1155272
Best score: 64
Q:      5 FVVALYYKINFFSM 18
D: 287247 FVVDLYYRISSFMM 287260

Query sequence: 2_Zt4RdpPU6AKfAv3ieoBH_252
Database sequence: 20_lJcCi71WhFi1hvjnmJ9r_833170
Best score: 63
Q:    211 LAR-DLRAVALETVANETGLLIEEQGIYSISEEL 243
D: 261628 LAKEELRAIAFEETA-AAGVIVSTQVIYFLNEDL 261660

Query sequence: 3_ZcD5U2KZzIKW1jMisVNv_222
Database sequence: 4_FbLhvtLcwZrb9tvGBbNq_1061447
Best score: 65
Q:     86 LEPVPGAGGPVTDSEANML 104
D: 267080 LQPIVGESGPLTQPETDML 267098

Query sequence: 4_jFIOJLvKIWZtJQKYcVDb_278
Database sequence: 5_IRAk4NIp1SdLPnC3iIrm_1155272
Best score: 67
Q:     69 IVAVSGPPGVMSTSELLASMFLHWTVLVKQLS 100
D: 309626 IVYIVNGPGVMDVTSVVVILFLFWALKVKTLS 309657

Query sequence: 5_pQTaBR5dlNwESEhuajcU_477
Database sequence: 11_psb9OECc0SKz2Co3isrf_814744
Best score: 67
Q:      1 MFKRFIH---QDFGESLILLLVGM 21
D: 647030 MFKRYIQIREREFLDALIVTLAGM 647053

Query sequence: 6_jb1fmNfALwyN9KQDWJRR_460
Database sequence: 4_FbLhvtLcwZrb9tvGBbNq_1061447
Best score: 72
Q:    194 WANRERLAEEVYCQTF 209
D: 132515 WSRRESVGEEVFCQSF 132530

Query sequence: 7_RQxjBIJhWR9bo9jdT224_143
Database sequence: 1_B1qYbUHhOqHhlQIjpEmh_920769
Best score: 61
Q:     83 DVLEVPVGMDQSS 95
D: 345293 DVLDVPVAMDAST 345305

Query sequence: 8_QMMtYreOVsCZjYm8Vwey_210
Database sequence: 17_JLMhDEqAV5S26GEmzcZJ_703039
Best score: 66
Q:      3 WSRFA-TFAGSIWR 15
D: 540927 WSRFDLQFSGSIWR 540940

Query sequence: 9_7RinWKptofhkHgfKgIcF_470
Database sequence: 3_gTBeN6rpAEcZSLlr4Lzg_1193300
Best score: 74
Q:    294 SYLNDRRPSRFRVSYFKTQTFITL 317
D: 126196 SFLFSRSPRRGRVTYFKKQSYPNL 126219

Query sequence: 10_6NChg0XhsxdedVl7s0mH_412
Database sequence: 16_QxMl5swuIzaSCaWpvAqS_945487
Best score: 70
Q:    292 NWVMCSANGENQLLESMLGEKRARKKTLKTAEVRA---TINANASDSGCD 338
D: 566753 NWIGCSVRGAK----TILDEIRATKMCFKTDNVRAKALTPAANSSATGTD 566798

Query sequence: 11_KGGfAXQx1KFBliVljni1_406
Database sequence: 17_JLMhDEqAV5S26GEmzcZJ_703039
Best score: 76
Q:    269 LTLIFKKKEAVQAKVRRFLIPQSTSDLATGLP 300
D: 414242 MVLIF----SVQSSGRRYLIS-SATDLLTGLP 414268

Query sequence: 12_06lZ8G5dn3yIGZiuxfkf_204
Database sequence: 2_4gQM66i1659N45SG0Snu_1071002
Best score: 77
Q:     73 PKEVKKVLLMVAKPSNQIQSKVNYTEAGHSYRL 105
D: 473374 PKKV-EVLLMASKGSNNLITK-DYREAG-SYRL 473403

Query sequence: 13_ohSkEZ9rhI8mapS04DAP_151
Database sequence: 2_4gQM66i1659N45SG0Snu_1071002
Best score: 64
Q:     96 KTKLRRGLLSMAL 108
D: 452737 KTKLRRGLLAVDL 452749

Query sequence: 14_hCVpAyqkyro9CPMdqrRC_309
Database sequence: 7_T6FyvfH5G2o7Ap5cVP5K_1117458
Best score: 67
Q:    251 QAPLGFIYQYGVGGG-NMLGIHYRAWVVPSICEGRSRN 287
D: 180611 QYALGFLY----GPSFDMVAVPYRAWAVD---DGRSQN 180641

Query sequence: 14_hCVpAyqkyro9CPMdqrRC_309
Database sequence: 15_6x4ui4Y2W3HiE6obQySo_1153083
Best score: 67
Q:    118 LAQKEHI---QHGRFFFLDQLQAKLVEQLTVVFGGDGIMLTVT 157
D: 481655 LPQREPIAKPEHG-YRFLQQAQP-MVKPMIVVFGDEGLLGAVA 481695

Query sequence: 15_Rs6VNFVBaSkAIMqgr6sm_422
Database sequence: 8_bxXkJQ1pl5mZhuwI4ATT_930395
Best score: 73
Q:    200 INLLNRYFSNQITTVEPDRILA 221
D: 200075 IGLVNKLFGTQVATVEVDRALA 200096

Query sequence: 16_NOhubQF3wVHY7P5JhKKK_246
Database sequence: 3_gTBeN6rpAEcZSLlr4Lzg_1193300
Best score: 66
Q:    102 KYNEPSQIESVE---TGVRKDL--KMNMIRGIY-ELLLS 134
D: 758147 KYNAPTQFEALQLSYTGVKLTLCDSMTMTKREYAELLLT 758185

Query sequence: 17_qpBASZKUxwCjQMhuDrtL_433
Database sequence: 1_B1qYbUHhOqHhlQIjpEmh_920769
Best score: 69
Q:    289 LVYELDEKTAHNT 301
D: 306544 LAYDLDEKTAHDT 306556

Query sequence: 18_7NTI4TuLS12BfjqBTtTE_135
Database sequence: 3_gTBeN6rpAEcZSLlr4Lzg_1193300
Best score: 60
Q:     39 RQESWRRPDYK 49
D: 219950 RQQRWRHPDFK 219960

Query sequence: 18_7NTI4TuLS12BfjqBTtTE_135
Database sequence: 13_sqnMEoVYdFqfA1CV4tlT_982989
Best score: 60
Q:     82 TGQTKDNNIIRELAQLVSTGV 102
D: 215854 SGTARDDNILRKIVSLLTTGV 215874

Query sequence: 18_7NTI4TuLS12BfjqBTtTE_135
Database sequence: 20_lJcCi71WhFi1hvjnmJ9r_833170
Best score: 60
Q:     24 DGN-GEIEI----RREMVYVRQESWRRPDYKTNNI 53
D: 623423 EGNPGEREICCVSRKEMTSTIQERWDRP-YTPNKV 623456

Query sequence: 19_p98k8IVkCnaJBmK00Cc7_205
Database sequence: 4_FbLhvtLcwZrb9tvGBbNq_1061447
Best score: 66
Q:    124 INARDTMEVIAKA-PLDNAKPGEPAGGGVLED 154
D:  65931 INARVRLEVIAKGILLDSTSPGNPIPGN-LQD 65961

Query sequence: 20_x42e0UpaJOUrc41N3BSK_237
Database sequence: 20_lJcCi71WhFi1hvjnmJ9r_833170
Best score: 67
Q:    216 RRANGLLLLVVKLGSEDE 233
D: 211608 RREQGLLALVLRLGAEQE 211625

