Query sequence: 1_axudWkM3OanTqlzoBFqK_125
Database sequence: 38_NWh9mExNdx5LFm2Ueuxd_1023474
Best score: 66
Q:     28 IPKLNTISVSIGVELGSGGQPPQSG 52
D:  85709 LSKLN-ISISIHIELINGSQPSLSG 85732

Query sequence: 2_agjGXdjeYnOK7NlkcJiC_153
Database sequence: 47_Aggvan7k2NomiwVgMTUZ_1736608
Best score: 69
Q:    118 KSAPLSDIALPFVKDEGEAQEYLVAVL 144
D: 335297 RTVPPPHIGLPLLKEASQVQEYLSGVL 335323

Query sequence: 3_lpIVFOAxlpJT88VQlxU7_233
Database sequence: 40_CFXfcth61XEk6TcRQzoq_601202
Best score: 69
Q:    118 QMSEMMRMTGHFI 130
D: 516544 QMSSMMKMIGKFI 516556

Query sequence: 4_0B4VwD9xq4vbKhPNVsAg_171
Database sequence: 17_ge6WIDqQq3r2Ku93Udy0_843786
Best score: 70
Q:     91 WVEGREYSFTSASKIVENIGAVVI 114
D: 243567 WNEGRDYSFIN-MKTIEDLGATSI 243589

Query sequence: 4_0B4VwD9xq4vbKhPNVsAg_171
Database sequence: 18_ADRO1wxvGMniAggRWcqH_1792608
Best score: 70
Q:    117 IDDIASFLSFPVPGDYANFINNQWMAAQRVGDEGFVVILSDLVCRI 162
D:1480665 VEELAASLHFACAQDFCAVVNNMRLCAQRM-TANFVVVIDETRCRI 1480709

Query sequence: 5_bJV3Kc2Vzx72YVX4tM57_423
Database sequence: 14_io0AD2e14McHAjNQnwDe_662675
Best score: 67
Q:    136 VIALHARLDADMELLGWRYLMGIHLDSFN 164
D: 348643 VIALHATVTHNMT-LSWRSLLG-NLANFD 348669

Query sequence: 6_Ya0m9t7lRtKjtDwX09iK_174
Database sequence: 31_RLWDQeOQRtnFegw7C0Xf_612337
Best score: 73
Q:     56 EGTNFQNKEAEARFAPARA-QALLSE 80
D:  86598 DGESMSNKEAAARFARERARQALTSE 86623

Query sequence: 7_ZNlVApGwUz1lvgNpkcI5_297
Database sequence: 49_mLLnBAo6NxhAO9t9LboA_1339589
Best score: 74
Q:     48 EKKGEVAGPFLWTNSESETVG 68
D: 424994 EKKGDVAGILLWLEDEANTIG 425014

Query sequence: 8_e9Bbn3r50MSo61CB6poj_283
Database sequence: 10_ruKGiCjDiVt5MDlClWqh_592465
Best score: 69
Q:     80 QVYISEVLAATGLLLSRI-EMRKAASLTLGGVE 111
D: 586049 QVYV--VHSGNPLTLNRIKNMRQATLLLLGGIE 586079

Query sequence: 9_kKbw3Q9XTq2sHexTBCXr_470
Database sequence: 24_0ggf8KWG71xm9FwkWYsx_1692851
Best score: 74
Q:    147 FWGVYERAYAGAN-VVKLHPTTQASPRVET 175
D: 882980 FWQVYERLYDENHPVSKLHPEPQIS--VET 883007

Query sequence: 10_RPeAGTKN3xfQDDRd1XWi_407
Database sequence: 18_ADRO1wxvGMniAggRWcqH_1792608
Best score: 76
Q:    321 TNNRFDALNRKHSHSGTASEAAEAIEFLEN 350
D:1061431 TSVRFDALARKQAQAGKATE--EGIPTLDN 1061458

Query sequence: 11_8iCrmTaYJcgVPrbVSKcC_210
Database sequence: 18_ADRO1wxvGMniAggRWcqH_1792608
Best score: 75
Q:    118 WIRDRTARVAQLSLQG 133
D:1357606 WIRERVAVVAGLSLQG 1357621

Query sequence: 12_jj6bIbKDYU1bUaTGygPe_267
Database sequence: 36_b2KcDL9FTPncHjNEcFek_1505253
Best score: 68
Q:     53 GTSGAEAFIMHAIHAIDTAALNDGLDWT-SVLRPAESY 89
D: 149054 GKANQEAF-MNALHG-DTAAEDDP--WSLAVLSPTEDY 149087

Query sequence: 13_DE9ox2F5i3ust2XT2s1p_657
Database sequence: 18_ADRO1wxvGMniAggRWcqH_1792608
Best score: 80
Q:    588 TNYSPKVMKASQHFAIVFPGRIENYHSDAIGKEVLEAV-IKQRAGYINLPSDDTDAGKRII 647
D: 689730 TGYVGKVMRSGQHFTNI-TERL-IYSSDLL---IVEHVKVEVAPGYSNEPGDDAEEERRII 689785

Query sequence: 14_etd6IBR0UkFkvH5xfRMc_309
Database sequence: 1_lEpYbm3lLMefjjjbdhjk_1327695
Best score: 68
Q:    283 AAKDLSGMTAEHLAGMTILDNK----RDVLR 309
D: 215873 AAQELAAQGDRRLANMTIVDNKDIAARGVLR 215903

Query sequence: 15_0BZ3ZCb9exuupyMSURyw_1034
Database sequence: 18_ADRO1wxvGMniAggRWcqH_1792608
Best score: 74
Q:    919 VDLL-GIPI--DDASIKIAAKIITK-LLEPADIL--LGASS 953
D:1654135 VDLLTGRPIDADQTSVRMPTKIVTKDALDPTNLLRKLAESS 1654175

Query sequence: 15_0BZ3ZCb9exuupyMSURyw_1034
Database sequence: 28_UuA7XBO5j23u9wBnb4nm_1511327
Best score: 74
Q:    951 ASSTNVLGLFTTKM 964
D: 125158 ASSTRVLGLFTSKM 125171

Query sequence: 16_gj2NsCLBytZfTSY1uy77_245
Database sequence: 26_WCr2wbcj8YL9OHx1Ck3J_1430135
Best score: 74
Q:    156 RNLTGTTNNIKLLLDPR 172
D:  31025 RSLPGTTDNIKLLIENR 31041

Query sequence: 17_qO2pcPqiN5iszTKbaOUM_492
Database sequence: 26_WCr2wbcj8YL9OHx1Ck3J_1430135
Best score: 72
Q:    262 LLIGGQMMNEAQLTTSVHEMALAVERYSDMPADRMM 297
D:  73337 LLRSLQKM-DGELGSSTPAMALALARSYDVPSSRKM 73371

Query sequence: 17_qO2pcPqiN5iszTKbaOUM_492
Database sequence: 32_8W3YJKB5dAiYAmg3vTrg_1646284
Best score: 72
Q:    289 SDMPADRMMTGLKAVV-IREFWIQA 312
D: 154599 SSMSADVMMTSLKGITERRRFWMLA 154623

Query sequence: 18_cQI3iRB6MAsvx0GaCtPy_338
Database sequence: 3_tX37akq4expyzM62AnKt_1102451
Best score: 73
Q:     37 RSTVFGRSKDSSYCAFQQRKLKLLAQAGALSPS 69
D: 661423 RSSTTTRSRKPSYCRLQEKKLALLDLNDALAAA 661455

Query sequence: 19_ZJBm3GPy7iHx4aV0CXTu_415
Database sequence: 7_SE9tPvXw8czSsLHh0Zyr_1032489
Best score: 67
Q:     86 LERKSA-LVVQPTSTPGPLMKKINTYAG 112
D: 412837 LERRAGRLVVVATGLEGTLLQKFNTYVG 412864

Query sequence: 20_CU5MZTdA3tJDm8iZjW7c_589
Database sequence: 6_3qINRCsUMWaI7XjMIiKt_505828
Best score: 70
Q:    514 SEADDAMVVSGLGLFIIAVRSQTNFYMPCFL 544
D:  86145 AETNQTMIVIAL---VITV-SQSSNYVPCFL 86171

Query sequence: 21_tAEkxznQLbmcUz6UkTHW_1111
Database sequence: 35_3STOVrz1qqeqWKTfiYiX_771961
Best score: 74
Q:   1073 TFSYKRGGICSGKTHLNAE 1091
D: 293266 TLGYKRGGLCDSKTTLEAE 293284

Query sequence: 22_uHhU3HmbbLuGGzYClI6b_192
Database sequence: 17_ge6WIDqQq3r2Ku93Udy0_843786
Best score: 72
Q:     45 KSWTNILALENSLEQPAAKLLTQLQSMDRINASYEWLNLAEVAASGEP 92
D: 202027 KSRATMLGLIVTL------VLENLQSLNPYDPSFEWVVLSELGAAQDP 202068

Query sequence: 23_TZfmA1FYpoKrrEmqvP1W_184
Database sequence: 29_kiDTfsgcnlZVEJQVivy4_1547083
Best score: 68
Q:     41 LHTIAVAYYDNQQRQQQPEIAGQEYADTAG 70
D: 674214 LQTVVVSATDEQHRQVNSEVQGQVFVQKAG 674243

Query sequence: 24_degSxQkBRMPXNQTzhic1_183
Database sequence: 22_FMLoUXJ0pr4exasPxu8B_1317465
Best score: 69
Q:     66 STPVGPDLSGTSGCCIDITAGIRGRPPVLRIQLF----LDRVFGI 106
D: 369197 STRVGSNLSGANQGCTHDGDEIRLKARVARIDHFASRDLLRVYGI 369241

Query sequence: 25_PvxuVTC9AM9ArW4ov3YT_122
Database sequence: 49_mLLnBAo6NxhAO9t9LboA_1339589
Best score: 63
Q:     37 AWMGAEQAAYAWERVQPLFEKIS 59
D: 197625 TWMG-----YAWNVVDPLFDNFN 197642

Query sequence: 26_xDH4Ty3CWrUoYgGmYodM_239
Database sequence: 29_kiDTfsgcnlZVEJQVivy4_1547083
Best score: 71
Q:     31 TLVLTKIISTSTIARTKIAPLPDALKKMREESVFSIRER----GLLSKNHLRN 79
D: 800017 TLSLSKIFTTETIRKISMSPVTLAALVVRNCSTASVRERFLSENMLSLKQLRN 800069

Query sequence: 27_67eOLcs3M4OOfWVtopEL_659
Database sequence: 7_SE9tPvXw8czSsLHh0Zyr_1032489
Best score: 75
Q:    578 FMAGAISLSCFLRSQPLAGRRYL 600
D: 155249 FLSGAGSYQCWLRPDPPTGRRYL 155271

Query sequence: 28_q2c6WPgggfLwGoIXEW5h_369
Database sequence: 15_qW7Yq9jf5XpcTnSfvjSk_597798
Best score: 67
Q:    165 WNYIIRKVLRLDDMSSQQLPQRLLDVAKYLTGSGE 199
D: 529141 WNKEARRVLALPELTTTSLTEALKNVATLLGGSGE 529175

Query sequence: 28_q2c6WPgggfLwGoIXEW5h_369
Database sequence: 36_b2KcDL9FTPncHjNEcFek_1505253
Best score: 67
Q:    159 EWYFEVW-NYII 169
D: 381071 EWYFELWISYII 381082

Query sequence: 29_YMyy41XYv0Lkat1kIia6_847
Database sequence: 32_8W3YJKB5dAiYAmg3vTrg_1646284
Best score: 74
Q:    448 HAIAELFNLPNPYDGAQATKL 468
D:1076314 HFVAQIFALPKPYNGSQDDKL 1076334

Query sequence: 30_TvzU0LrxppcPQSnjoEEG_720
Database sequence: 23_rc4keYndxoI1cBbIvf1d_874550
Best score: 73
Q:    612 TRAPQILNQH-SMSVRQITQL-STAIMKKLWPMLRLLSVT 649
D: 438031 TRSFQTVAQQPNIQLREVMDLQDTALLKRAYPMHRLLSVS 438070

Query sequence: 31_wctBYyVIHzSGX9S1zhhM_212
Database sequence: 1_lEpYbm3lLMefjjjbdhjk_1327695
Best score: 65
Q:     92 AGAAQAVNILGVSLVGFDTPDH-VSLAAIAEHLRVVRKML 130
D: 123159 AVGAQAVEILAVSINGTHAPEHLLMLRQIAD----VRELL 123194

Query sequence: 31_wctBYyVIHzSGX9S1zhhM_212
Database sequence: 24_0ggf8KWG71xm9FwkWYsx_1692851
Best score: 65
Q:     66 VDNFLIVLNIATKKLGKTATLDPLQLAGAAQ 96
D:1268870 VDNYLILTGTGTQGLKKIGNLEPFHL-GASQ 1268899

Query sequence: 32_ZoQPaDLDe5UuGySzvENd_375
Database sequence: 25_y1pa25UUQAq5V6cZJBWb_727745
Best score: 69
Q:     51 NLSLH-RSRSLSDKQEETTLSGGGD 74
D: 503230 DLPLHLRSRGLIDKNITVGLSGGGD 503254

Query sequence: 33_rKu3MWnOJI1eOMLB8XjN_164
Database sequence: 37_y1Ieq30oFB944V4VK0lT_875803
Best score: 65
Q:     75 MPQRQ-QDAGETLAASREIIQAYKKE 99
D: 861974 LPQRQPQDALKGLAARRQLMDSYRQQ 861999

Query sequence: 34_u7pu69wtZy84gLY3pOlE_205
Database sequence: 24_0ggf8KWG71xm9FwkWYsx_1692851
Best score: 62
Q:    125 KARFHATQSSSGTNLLRDEGQGGRVYVGQFD 155
D: 566830 KSRFATLDGPVTTSLLRAEGQAPDTYYDQYE 566860

Query sequence: 35_VXdjYWywFaa3uvnYcoeE_202
Database sequence: 44_2sSLVxMpPKeTI2t0WAgC_580488
Best score: 80
Q:     56 TISMPLRGKTYEYINGNVLRPDIAKKTTEPVDTLSVNSKKVKPSVRPAC 104
D: 495386 SISYALR--LYKYIAGGASRGGIARSADQPRDTLGHNPKMVRAEIQSYC 495432

Query sequence: 36_7gNWVNz5R43MoPgsp3lr_419
Database sequence: 7_SE9tPvXw8czSsLHh0Zyr_1032489
Best score: 90
Q:    259 ARLLSRQEAGWLRRAALGIVGMPETI 284
D: 896094 ARMLDRDSTAWLRRRAGAIVGMWEAI 896119

Query sequence: 37_7sRnP8w4wfe1obnin8fD_316
Database sequence: 28_UuA7XBO5j23u9wBnb4nm_1511327
Best score: 75
Q:    240 TGAPTSSGTGKIGAPTARAIG 260
D:1118918 TGTASSTSGGKTGAPSAKAIG 1118938

Query sequence: 38_OrFRZQS6PDux0IKoOz4S_444
Database sequence: 14_io0AD2e14McHAjNQnwDe_662675
Best score: 75
Q:    313 LDPK-FNASLLRRRD 326
D:   8355 LDPKVFNAALLRRRD 8369

Query sequence: 39_Fo2vdNUC7YzbscVYBMSW_239
Database sequence: 37_y1Ieq30oFB944V4VK0lT_875803
Best score: 70
Q:    172 LPQARIPVS-CIHVEKAEWAV 191
D: 382364 LPQSRADGSICIHVDLVEWAV 382384

Query sequence: 40_dAY47lCv9GHZQLMRCvQ2_325
Database sequence: 45_zfJkocPTSkGqg2WAAIt6_1293235
Best score: 72
Q:    116 WNFLSFSIEDSAAVDVLPIDSAEDCGPGIKNSTSL 150
D:  21565 WLFFRFKLEDKATVPVMPAITSEDSGERIKEVAVL 21599

Query sequence: 41_a9KdGoW99khJVuW7rT78_166
Database sequence: 50_URGuWvstdfWPl3YBhdyo_1656838
Best score: 63
Q:     38 ELIDITM-WGLSSARHHDLVILMI 60
D: 828359 DLVTITMHWGALCGRYRELVIISI 828382

Query sequence: 42_QLJbyDr69BB8JxnBo6iJ_142
Database sequence: 49_mLLnBAo6NxhAO9t9LboA_1339589
Best score: 67
Q:     16 LVTAHGVI-TAALRKRSEHHVGVLGFSVLGLLLAATFQNQSIYKE-LIR--QIVTW 67
D: 567445 LITALASLDTVGNRKSNQH-----GFVVLSLLKTTTLNNTAKYKEDLDRVAEVVGW 567495

Query sequence: 43_X2mZ0QBoGSo6Arz2hfJa_128
Database sequence: 16_GLom6ysH10bCSLbR6cIG_1654633
Best score: 68
Q:     89 FNKVMHGVAASDMEDYHVLQNEQDSNGSNRVDASR 123
D: 255151 FNKI---VAGRNREAYFLLEDHRSENGTNLEDASR 255182

Query sequence: 44_261kiIE0Bf2esJGYanUo_257
Database sequence: 16_GLom6ysH10bCSLbR6cIG_1654633
Best score: 71
Q:    145 TAEVVYMVSLWTVD-RNAAIGSGNRAF-FFDGGAFDTFDEVKSP 186
D:1172772 TSEIFFMVDLRPIEARISVLASGNKAFKMFIGA-----DEVNSP 1172810

Query sequence: 45_J7SrrYKS8ma48gKcLxrW_314
Database sequence: 39_Q6fVKRPxAu0ILNIaCWxB_1789624
Best score: 70
Q:    160 LCVVEATAQMANLRMEMQAFVDDEDLIELSRD----GSVHPASRVRDM 203
D:  74959 LPLVQVTVELLCLRMEV-SFINDEKEIDLLMDTVAPGNVESAARAMSM 75005

Query sequence: 46_ecd45vTI4HZSfxa67SkO_229
Database sequence: 36_b2KcDL9FTPncHjNEcFek_1505253
Best score: 68
Q:     36 KLNEDSMVEKKNPSSPSLGITLRDSNTALPANASWYFGPVLGL-NRDLHEA 85
D: 329814 KLNEQEMVTKHDDTAP--GCSVCDPNDTL---TTW-FGPLIGPRNRLIHNA 329858

Query sequence: 47_nYpci7zVTFvxWKcKGWAm_205
Database sequence: 13_H9EoVGfAqi1SNw6jf4P1_833307
Best score: 67
Q:    183 KIKTPHLRDGVISYNAA 199
D: 529985 KIREPVLRDGIIDYAAA 530001

Query sequence: 48_LXFOQp85sMPSvQMiSeig_746
Database sequence: 16_GLom6ysH10bCSLbR6cIG_1654633
Best score: 72
Q:    470 MFIVVSSSDAGLDRQDKEVNHL-GRVENEERETIQSSTILA 509
D:1526127 MFLVVQNKKLGMDR---EVEELAAKVDGEGQESRQSSSSLS 1526164

Query sequence: 48_LXFOQp85sMPSvQMiSeig_746
Database sequence: 22_FMLoUXJ0pr4exasPxu8B_1317465
Best score: 72
Q:    139 VNFNALIG-ANNYKALRISTLGGFISN 164
D: 546049 VGMDALIGDADDYAAQRVSTM-GYIAN 546074

Query sequence: 49_00Nin8wmL45Z2kPAi8Qo_207
Database sequence: 24_0ggf8KWG71xm9FwkWYsx_1692851
Best score: 72
Q:    175 QQESRPVESHKILLSYLIEWEMT 197
D:1402086 HHEFRPLQGHGDLLTYLLEWKQT 1402108

Query sequence: 50_gh9Cb60WbMZ1dkh5DcgV_459
Database sequence: 7_SE9tPvXw8czSsLHh0Zyr_1032489
Best score: 75
Q:    338 VLNISDSGVRVRLVGAGYGNADVTAGSLANGLT 370
D: 531390 VMTSREAGVRLRL-GGVFGNLGVTAGAFTSNLS 531421

